$deg: 180deg;
$movement: bounce infinite ease;

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  .field {
    width: 100%;
    height: 100%;
    background-color: rgb(17, 97, 147);
    position: absolute;
  }
}

.ball-1 {
  background-image: linear-gradient($deg, rgb(144, 32, 73), rgb(68, 17, 36));
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  animation: 0.5s 1s $movement;
  margin-left: 100px;
  display: inline-block;
}

.ball-2 {
  background-image: linear-gradient($deg, rgb(135, 222, 163), rgb(28, 72, 42));
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  animation: 2s 2.5s $movement;
  margin-left: 200px;
  display: inline-block;
}

.ball-3 {
  background-image: linear-gradient($deg, rgb(219, 135, 222), rgb(116, 46, 118));
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  animation: 1.5s 2s $movement;
  margin-left: 100px;
  display: inline-block;
}

.ball-4 {
  background-image: linear-gradient($deg, rgb(135, 218, 222), rgb(25, 93, 96));
  width: 75px;
  height: 75px;
  position: relative;
  border-radius: 50%;
  animation: 2s 2s $movement;
  margin-left: 100px;
  display: inline-block;
}

.ball-5 {
  background-image: linear-gradient($deg, rgb(253, 80, 0), rgb(49, 20, 7));
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  animation: 2.5s 3s $movement;
  margin-left: 100px;
  display: inline-block;
}

.ball-6 {
  background-image: linear-gradient($deg, rgba(0, 0, 0, 0.381), rgb(0, 0, 0));
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  animation: 1s 4s $movement;
  margin-left: 20px;
  display: inline-block;
}

.ball-7 {
  background-image: linear-gradient($deg, rgb(209, 218, 39), rgb(70, 72, 15));
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  animation: 0.25s 0.25s $movement;
  margin-left: 100px;
  display: inline-block;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: scale(1.1, 0.9) translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
